schemas/person_streamlined_v4.rng

<?xml version="1.0" encoding="UTF-8"?>


<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <xs:annotation>
        <xs:appinfo>
            <interface>
                <interface-order type="person" path="entity/person">
                    <ref name="identity-element"/>
                </interface-order>
            </interface>
        </xs:appinfo>
    </xs:annotation>

    <start>
            <ref name="entity-element"/>
    </start>

    <define name="cwrc-element">
        <element name="cwrc">
            <a:documentation>Group of CWRC records</a:documentation>
            <oneOrMore>
                <ref name="entity-element"/>
            </oneOrMore>
        </element>
    </define>

    <define name="entity-element">
        <element name="entity">
            <a:documentation>CWRC entity record</a:documentation>
                <ref name="person-element"/>
        </element>
    </define>

    <define name="person-element">
        <element name="person">
            <zeroOrMore>
                <ref name="variant-element"/>
            </zeroOrMore>
          
        </element>
    </define>

    <define name="identity-element">
        <element name="identity">
            <a:documentation>A container element grouping data for identification of a CWRC entity
                instance</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization|place/identity">
                        <label xml:lang="en">Identity</label>
                        <input>header</input>
                    </interface-field>
                </xs:appinfo>
            </xs:annotation>
            <interleave>
                <ref name="preferredForm-element"/>
                <optional>
                    <ref name="displayLabel-element"/>
                </optional>
                <optional>
                    <ref name="variantForms-element"/>
                </optional>
                <zeroOrMore>
                    <ref name="sameAs-element"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="personTypes-element">
        <element name="personTypes">
            <a:documentation>Captures generic person types defined by each project. Based on
                WEAC-CPF's @localType.</a:documentation>
            <zeroOrMore>
                <ref name="personType-element"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="projectId-element">
        <element name="projectId">
            <a:documentation>Similar to EAC-CPF's agencyCode. In CWRC's context, projectId
                captures an identifier for the originating project. Subsequent modifications of the record
                should be captured in FOXML's datastreams</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization|place/identity/variantForms/variant/authorizedBy/projectId">
                        <help-text xml:lang="en">Optional. Specify a project that uses this as the
                            preferred form of the name.</help-text>
                        <label xml:lang="en">Name preferred by</label>
                        <input>dropDown</input>
                    </interface-field>
                    <values>
                        <choice>
                            <value a:en="canwwr">canwwr</value>
                            <a:documentation>canwwwr</a:documentation>
                            <value a:en="ceww">ceww</value>
                            <a:documentation>ceww</a:documentation>
                            <value a:en="eccji">eccji</value>
                            <a:documentation>eccji</a:documentation>
                            <value a:en="eccji">GeoNames</value>
                            <a:documentation>GeoNames</a:documentation>
                            <value a:en="orlando">orlando</value>
                            <a:documentation>orlando</a:documentation>
                        </choice>
                    </values>
                </xs:appinfo>
            </xs:annotation>
            <optional>
                <choice>
                    <value a:en="canwwr">canwwr</value>
                    <a:documentation>canwwwr</a:documentation>
                    <value a:en="ceww">ceww</value>
                    <a:documentation>ceww</a:documentation>
                    <value a:en="eccji">eccji</value>
                    <a:documentation>eccji</a:documentation>
                    <value a:en="eccji">GeoNames</value>
                    <a:documentation>GeoNames</a:documentation>
                    <value a:en="orlando">orlando</value>
                    <a:documentation>orlando</a:documentation>
                </choice>
            </optional>
        </element>
    </define>

    <define name="accessCondition-element">
        <element name="accessCondition" a:defaultValue="cc_by-nc_4.0">
            <a:documentation>Use the following access condition statement:
                Use of this public-domain resource is governed by the &lt;a
                href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license"
                &gt;Creative Commons Attribution-NonCommercial 4.0 International License&lt;/a&gt;.
            </a:documentation>
            <attribute name="type">
                <value a:en="use and reproduction">use and reproduction</value>
            </attribute>
            <mixed>
                <zeroOrMore>
                    <ref name="a-element"/>
                </zeroOrMore>
            </mixed>
        </element>
    </define>

    <define name="a-element">
        <element name="a">
            <ref name="href-attribute"/>
            <optional>
                <ref name="rel-attribute"/>
            </optional>
            <data type="token"/>
        </element>
    </define>

    <define name="href-attribute">
        <attribute name="href">
            <data type="anyURI"/>
        </attribute>
    </define>

    <define name="rel-attribute">
        <attribute name="rel">
            <data type="token"/>
        </attribute>
    </define>

    <define name="preferredForm-element">
        <element name="preferredForm">
            <a:documentation>An element used to indicate which recorded entity name is the preferred
                one for display purposes in a given context.</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization|place/identity/preferredForm">
                        <label xml:lang="en">Preferred name</label>
                        <help-text xml:lang="en">Use this section to flag a name as a preferred form
                            to identify a person, organization, or place.</help-text>
                    </interface-field>
                </xs:appinfo>
            </xs:annotation>
            <oneOrMore>
                <ref name="namePart-element"/>
            </oneOrMore>
        </element>
    </define>

    <define name="displayLabel-element">
        <element name="displayLabel">
            <a:documentation>Display label of entity described if different than CWRC's preferredForm.</a:documentation>
            <text/>
        </element>
    </define>

    <define name="namePart-element">
        <element name="namePart">
            <a:documentation>Used to distinguish components of the name of the entity. Equivalent to MADS's namePart and
                to EAC-CPF's part element.</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization|place/identity/preferredForm/namePart">
                        <label xml:lang="en">Name part</label>
                        <help-text xml:lang="en">Required. Provide the person's, organization's, or place's
                            standard name, and for persons, by part if desired; if person entities are not broken
                            out by parts of a name (given and family) and appear as one string in the namePart
                            element, then family name (last name or surname) should appear first, followed by a
                            comma, followed by first or given names.  Person name examples: with name parsing: 
                            Joyce Carol (given) Oates (family); without name parsing: Oates, Joyce Carol.
                            Organization name example: Conseil des Arts du Canada. Place name example:
                            Montréal.</help-text>
                        <input>textField</input>
                    </interface-field>
                    <interface-field path="entity/person|organization|place/identity/variantForms/variant/namePart">
                        <label xml:lang="en">Name part</label>
                        <help-text xml:lang="en">Optional. Record one or more alternative names
                            here.  Person name examples: with name parsing: Mary Shelley's birth name: Godwin (family),
                            Mary Wollstonecraft (given); without name parsing: Mary Shelley's birth name: Godwin, Mary
                            Wollstonecraft. Organization name example: Canada Council for the Arts. Place name example: 
                            Montreal.</help-text>
                        <input>textField</input>
                    </interface-field>
                </xs:appinfo>
            </xs:annotation>
            <optional>
                <ref name="partType-attribute"/>
            </optional>
            <text/>
        </element>
    </define>

    <define name="partType-attribute">
        <attribute name="partType">
            <a:documentation>Captures types of name components of person entities. Example: family.</a:documentation>
            <a:documentation/>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person/identity/preferredForm/namePart/@partType">
                        <help-text xml:lang="en">Optional. Select a type of name part from the
                            list.</help-text>
                        <label xml:lang="en">Name type</label>
                        <input>dropDown</input>
                    </interface-field>
                    <interface-field path="entity/person/identity/variantForms/variant/namePart/@partType">
                        <help-text xml:lang="en">Optional. Select a type of name part from the
                            list.</help-text>
                        <label xml:lang="en">Name type</label>
                        <input>dropDown</input>
                    </interface-field>
                    <values type="person">
                        <choice>
                            <value a:en="fulll name (inverse order)" default="yes">fullName</value>
                            <a:documentation>e.g., Abergavenny, Frances Neville, Baroness</a:documentation>
                            <value a:en="family name">family</value>
                            <a:documentation>e.g., Abergavenny</a:documentation>
                            <value a:en="given names">given</value>
                            <a:documentation>e.g., Frances Neville</a:documentation>
                            <value a:en="terms of address">termsOfAddress</value>
                            <a:documentation>e.g., Baroness</a:documentation>
                        </choice>
                    </values>
                </xs:appinfo>
            </xs:annotation>
            <optional>
                <choice>
                    <value a:en="full name (inverse order)">fullName</value>
                    <a:documentation>e.g., Abergavenny, Frances Neville, Baroness</a:documentation>
                    <value a:en="family name">family</value>
                    <a:documentation>e.g., Abergavenny</a:documentation>
                    <value a:en="given names">given</value>
                    <a:documentation>e.g., Frances Neville</a:documentation>
                    <value a:en="terms of address">termsOfAddress</value>
                    <a:documentation>e.g., Baroness</a:documentation>
                </choice>
            </optional>
        </attribute>
    </define>

    <define name="variantForms-element">
        <element name="variantForms">
            <zeroOrMore>
                <ref name="variant-element"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="variant-element">
        <element name="variant">
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization|place/identity/variantForms/variant">
                        <help-text xml:lang="en">If known, indicate one or more alternative name
                            forms used to refer to this entity.</help-text>
                        <label xml:lang="en">Variant name(s)</label>
                        <input label="Add">dialogue</input>
                    </interface-field>
                </xs:appinfo>
            </xs:annotation>
            <interleave>
                <oneOrMore>
                    <ref name="namePart-element"/>
                </oneOrMore>
                <zeroOrMore>
                    <ref name="variantType-element"/>
                </zeroOrMore>
                <optional>
                    <ref name="authorizedBy-element"/>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="variantType-element">
        <element name="variantType">
            <a:documentation>Captures name type to describe contexts in which this name was used to refer to the
                present entity.</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization/identity/variantForms/variant/variantType">
                        <help-text xml:lang="en">If applicable, select a name type to describe
                            contexts in which this name was used to refer to the present
                            entity.</help-text>
                        <label xml:lang="en">Variant type</label>
                        <input>dropDown</input>
                    </interface-field>
                    <values type="person">
                        <choice>
                            <value a:en="Birth Name">birthName</value>
                            <value a:en="Married Name">marriedName</value>
                            <value a:en="Indexed Name">indexedName</value>
                            <value a:en="Pseudonym">pseudonym</value>
                            <value a:en="Used Form">usedForm</value>
                            <value a:en="Nickname">nickname</value>
                            <value a:en="Religious">religiousName</value>
                            <value a:en="Royal">royalName</value>
                            <value a:en="Self Constructed">selfConstructedName</value>
                            <value a:en="Styled">styledName</value>
                            <value a:en="Titled">titledName</value>
                        </choice>
                    </values>
                    <values type="organization">
                        <choice>
                            <value a:en="Used Form">usedForm</value>
                            <value a:en="Organization 'Birth' Name">birthName</value>
                            <value a:en="Indexed Name">indexedName</value>
                            <value a:en="Descriptive Name">descriptive</value>
                            <a:documentation>e.g., Women's Aid Society</a:documentation>
                            <value a:en="Popular Name">popular</value>
                            <a:documentation>e.g., "Wrens" for "Women's Royal Naval
                                Service"</a:documentation>
                            <value a:en="Acronym">acronym</value>
                            <a:documentation>e.g., OCLC</a:documentation>
                        </choice>
                    </values>
                    <values type="place">
                        <choice>
                            <value a:en="alternate names">alternate names</value>
                            <a:documentation>e.g., Edmonton,Edmontona,Edmontonas</a:documentation>
                        </choice>
                    </values>
                </xs:appinfo>
            </xs:annotation>
            <choice>
                <value a:en="Birth Name - person or organization">birthName</value>
                <value a:en="Married Name - person">marriedName</value>
                <value a:en="Indexed Name - person or organization">indexedName</value>
                <value a:en="Pseudonym - person">pseudonym</value>
                <value a:en="Used Form - person or organization">usedForm</value>
                <value a:en="Nickname - person">nickname</value>
                <value a:en="Religious - person">religiousName</value>
                <value a:en="Royal - person">royalName</value>
                <value a:en="Self Constructed - person">selfConstructedName</value>
                <value a:en="Styled - person">styledName</value>
                <value a:en="Titled - person">titledName</value>
                <value a:en="Descriptive Name - organization">descriptive</value>
                <a:documentation>e.g., Women's Aid Society</a:documentation>
                <value a:en="Popular Name - organization">popular</value>
                <a:documentation>e.g., "Wrens" for "Women's Royal Naval
                    Service"</a:documentation>
                <value a:en="Acronym - organization">acronym</value>
                <a:documentation>e.g., OCLC</a:documentation>
                <value a:en="alternate names - place">alternate names</value>
                <a:documentation>e.g., Edmonton,Edmontona,Edmontonas,Edmontono,Edmundopolis,Edmuntun,Ehdmonton</a:documentation>
            </choice>
        </element>
    </define>

    <define name="authorizedBy-element">
        <element name="authorizedBy">
            <a:documentation>authorizedBy element captures a note indicating that one or more
                projects use the present name as a preferred form in their local
                context.</a:documentation>
            <zeroOrMore>
                <ref name="projectId-element"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="sameAs-element">
        <element name="sameAs">
            <a:documentation>Enter a URI to a linked data resource that
                is the same as this entity (e.g., a VIAF record).</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization|place/identity/sameAs">
                        <help-text xml:lang="en">Enter a URI to a linked data resource that
                            is the same as this entity (e.g., a VIAF record).</help-text>
                        <label xml:lang="en">Same as</label>
                        <input>textField</input>
                    </interface-field>
                </xs:appinfo>
            </xs:annotation>
            <data type="anyURI"/>
            <optional>
                <ref name="cert-attribute"/>
            </optional>
        </element>
    </define>

    <define name="cert-attribute">
        <attribute name="cert" a:defaultValue="4">
            <a:documentation>Captures degree of certainty about a particular statement about the entity described.</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person|organization|place/identity/variantForms/variant/@cert">
                        <help-text xml:lang="en">By selecting a certainty level you can specify an
                            approximate degree of confidence on a given piece of information about
                            this entity. Definite is default.</help-text>
                        <label xml:lang="en">Certainty</label>
                        <input>slider</input>
                    </interface-field>
                    <interface-field path="entity/person|organization|place/identity/sameAs/@cert">
                        <help-text xml:lang="en">By selecting a certainty level you can specify an
                            approximate degree of confidence on a given piece of information about
                            this entity. Definite is default.</help-text>
                        <label xml:lang="en">Certainty</label>
                        <input>slider</input>
                    </interface-field>
                    <interface-field path="entity/person|organization|place/description/existDates/dateSingle/@cert">
                        <help-text xml:lang="en">By selecting a certainty level you can specify an
                            approximate degree of confidence on a given piece of information about
                            this entity. Definite is default.</help-text>
                        <label xml:lang="en">Certainty</label>
                        <input>slider</input>
                    </interface-field>
                    <interface-field path="entity/person/description/genders/gender/@cert">
                        <help-text xml:lang="en">By selecting a certainty level you can specify an
                            approximate degree of confidence on a given piece of information about
                            this entity. Definite is default.</help-text>
                        <label xml:lang="en">Certainty</label>
                        <input>slider</input>
                    </interface-field>
                    <interface-field path="entity/person|organization/description/occupations|activities|researchInterests/occupation|activity|interest/term/@cert">
                        <help-text xml:lang="en">By selecting a certainty level you can specify an
                            approximate degree of confidence on a given piece of information about
                            this entity. Definite is default.</help-text>
                        <label xml:lang="en">Certainty</label>
                        <input>slider</input>
                    </interface-field>
                    <values>
                        <choice>
                            <value a:en="definite" a:fr="" default="yes">4</value>
                            <value a:en="reasonably certain" a:fr="">3</value>
                            <value a:en="probable" a:fr="">2</value>
                            <value a:en="speculative" a:fr="">1</value>
                        </choice>
                    </values>
                </xs:appinfo>
            </xs:annotation>
            <choice>
                <optional>
                    <value a:en="definite" a:fr="">4</value>
                </optional>
                <optional>
                    <value a:en="reasonably certain" a:fr="">3</value>
                </optional>
                <optional>
                    <value a:en="probable" a:fr="">2</value>
                </optional>
                <optional>
                    <value a:en="speculative" a:fr="">1</value>
                </optional>
            </choice>
        </attribute>
      </define>

</grammar>
