schemas/person_streamlined.rng

<?xml version="1.0" encoding="UTF-8"?>


<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <xs:annotation>
        <xs:appinfo>
            <interface>
                <interface-order type="person" path="entity/person">
                    <ref name="personRecordInfo-element"/>
                    <ref name="identity-element"/>
                    <ref name="personDescription-element"/>
                </interface-order>
            </interface>
        </xs:appinfo>
    </xs:annotation>

    <start>
        <choice>
            <ref name="entity-element"/>
        </choice>
    </start>

    <define name="entity-element">
        <element name="entity">
            <a:documentation>CWRC entity record</a:documentation>
            <choice>
                <ref name="person-element"/>
            </choice>
        </element>
    </define>

    <define name="person-element">
        <element name="person">
            <zeroOrMore>
                <ref name="variant-element"/>
            </zeroOrMore>
        </element>
    </define>

    

    

    

    

    

    

    

    

    

    

    


    <define name="projectId-element">
        <element name="projectId">
            <a:documentation>Similar to EAC-CPF's agencyCode. In CWRC's context, projectId
                captures an identifier for the originating project. Subsequent modifications of the record
                should be captured in FOXML's datastreams</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person/variant/authorizedBy/projectId">
                        <help-text xml:lang="en">Optional. Specify a project that uses this as the
                            preferred form of the name.</help-text>
                        <label xml:lang="en">Name preferred by</label>
                        <input>dropDown</input>
                    </interface-field>
                    <values>
                        <choice>
                            <value a:en="canwwr">canwwr</value>
                            <a:documentation>canwwwr</a:documentation>
                            <value a:en="ceww">ceww</value>
                            <a:documentation>ceww</a:documentation>
                            <value a:en="eccji">eccji</value>
                            <a:documentation>eccji</a:documentation>
                            <value a:en="eccji">GeoNames</value>
                            <a:documentation>GeoNames</a:documentation>
                            <value a:en="orlando">orlando</value>
                            <a:documentation>orlando</a:documentation>
                        </choice>
                    </values>
                </xs:appinfo>
            </xs:annotation>
            <optional>
                <choice>
                    <value a:en="canwwr">canwwr</value>
                    <a:documentation>canwwwr</a:documentation>
                    <value a:en="ceww">ceww</value>
                    <a:documentation>ceww</a:documentation>
                    <value a:en="eccji">eccji</value>
                    <a:documentation>eccji</a:documentation>
                    <value a:en="eccji">GeoNames</value>
                    <a:documentation>GeoNames</a:documentation>
                    <value a:en="orlando">orlando</value>
                    <a:documentation>orlando</a:documentation>
                </choice>
            </optional>
        </element>
    </define>

    <define name="namePart-element">
        <element name="namePart">
            <a:documentation>Used to distinguish components of the name of the entity. Equivalent to MADS's namePart and
                to EAC-CPF's part element.</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person/variant/namePart">
                        <label xml:lang="en">Name part</label>
                        <help-text xml:lang="en">Optional. Record one or more alternative names
                            here.  Person name examples: with name parsing: Mary Shelley's birth name: Godwin (family),
                            Mary Wollstonecraft (given); without name parsing: Mary Shelley's birth name: Godwin, Mary
                            Wollstonecraft. Organization name example: Canada Council for the Arts. Place name example: 
                            Montreal.</help-text>
                        <input>textField</input>
                    </interface-field>
                </xs:appinfo>
            </xs:annotation>
            <optional>
                <ref name="partType-attribute"/>
            </optional>
            <text/>
        </element>
    </define>

    <define name="partType-attribute">
        <attribute name="partType">
            <a:documentation>Captures types of name components of person entities. Example: family.</a:documentation>
            <a:documentation/>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person/variant/namePart/@partType">
                        <help-text xml:lang="en">Optional. Select a type of name part from the
                            list.</help-text>
                        <label xml:lang="en">Name type</label>
                        <input>dropDown</input>
                    </interface-field>
                    <values type="person">
                        <choice>
                            <value a:en="fulll name (inverse order)" default="yes">fullName</value>
                            <a:documentation>e.g., Abergavenny, Frances Neville, Baroness</a:documentation>
                            <value a:en="family name">family</value>
                            <a:documentation>e.g., Abergavenny</a:documentation>
                            <value a:en="given names">given</value>
                            <a:documentation>e.g., Frances Neville</a:documentation>
                            <value a:en="terms of address">termsOfAddress</value>
                            <a:documentation>e.g., Baroness</a:documentation>
                        </choice>
                    </values>
                </xs:appinfo>
            </xs:annotation>
            <optional>
                <choice>
                    <value a:en="full name (inverse order)">fullName</value>
                    <a:documentation>e.g., Abergavenny, Frances Neville, Baroness</a:documentation>
                    <value a:en="family name">family</value>
                    <a:documentation>e.g., Abergavenny</a:documentation>
                    <value a:en="given names">given</value>
                    <a:documentation>e.g., Frances Neville</a:documentation>
                    <value a:en="terms of address">termsOfAddress</value>
                    <a:documentation>e.g., Baroness</a:documentation>
                </choice>
            </optional>
        </attribute>
    </define>

    <define name="variantForms-element">
        <element name="variantForms">
            <zeroOrMore>
                <ref name="variant-element"/>
            </zeroOrMore>
        </element>
    </define>

    <define name="variant-element">
        <element name="variant">
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person/variant">
                        <help-text xml:lang="en">If known, indicate one or more alternative name
                            forms used to refer to this entity.</help-text>
                        <label xml:lang="en">Variant name(s)</label>
                        <input label="Add">dialogue</input>
                    </interface-field>
                </xs:appinfo>
            </xs:annotation>
            <interleave>
                <oneOrMore>
                    <ref name="namePart-element"/>
                </oneOrMore>
                <zeroOrMore>
                    <ref name="variantType-element"/>
                </zeroOrMore>
                <optional>
                    <ref name="authorizedBy-element"/>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="variantType-element">
        <element name="variantType">
            <a:documentation>Captures name type to describe contexts in which this name was used to refer to the
                present entity.</a:documentation>
            <xs:annotation>
                <xs:appinfo>
                    <interface-field path="entity/person/variant/variantType">
                        <help-text xml:lang="en">If applicable, select a name type to describe
                            contexts in which this name was used to refer to the present
                            entity.</help-text>
                        <label xml:lang="en">Variant type</label>
                        <input>dropDown</input>
                    </interface-field>
                    <values type="person">
                        <choice>
                            <value a:en="Birth Name">birthName</value>
                            <value a:en="Married Name">marriedName</value>
                            <value a:en="Indexed Name">indexedName</value>
                            <value a:en="Pseudonym">pseudonym</value>
                            <value a:en="Used Form">usedForm</value>
                            <value a:en="Nickname">nickname</value>
                            <value a:en="Religious">religiousName</value>
                            <value a:en="Royal">royalName</value>
                            <value a:en="Self Constructed">selfConstructedName</value>
                            <value a:en="Styled">styledName</value>
                            <value a:en="Titled">titledName</value>
                        </choice>
                    </values>
                    <values type="organization">
                        <choice>
                            <value a:en="Used Form">usedForm</value>
                            <value a:en="Organization 'Birth' Name">birthName</value>
                            <value a:en="Indexed Name">indexedName</value>
                            <value a:en="Descriptive Name">descriptive</value>
                            <a:documentation>e.g., Women's Aid Society</a:documentation>
                            <value a:en="Popular Name">popular</value>
                            <a:documentation>e.g., "Wrens" for "Women's Royal Naval
                                Service"</a:documentation>
                            <value a:en="Acronym">acronym</value>
                            <a:documentation>e.g., OCLC</a:documentation>
                        </choice>
                    </values>
                    <values type="place">
                        <choice>
                            <value a:en="alternate names">alternate names</value>
                            <a:documentation>e.g., Edmonton,Edmontona,Edmontonas</a:documentation>
                        </choice>
                    </values>
                </xs:appinfo>
            </xs:annotation>
            <choice>
                <value a:en="Birth Name - person or organization">birthName</value>
                <value a:en="Married Name - person">marriedName</value>
                <value a:en="Indexed Name - person or organization">indexedName</value>
                <value a:en="Pseudonym - person">pseudonym</value>
                <value a:en="Used Form - person or organization">usedForm</value>
                <value a:en="Nickname - person">nickname</value>
                <value a:en="Religious - person">religiousName</value>
                <value a:en="Royal - person">royalName</value>
                <value a:en="Self Constructed - person">selfConstructedName</value>
                <value a:en="Styled - person">styledName</value>
                <value a:en="Titled - person">titledName</value>
                <value a:en="Descriptive Name - organization">descriptive</value>
                <a:documentation>e.g., Women's Aid Society</a:documentation>
                <value a:en="Popular Name - organization">popular</value>
                <a:documentation>e.g., "Wrens" for "Women's Royal Naval
                    Service"</a:documentation>
                <value a:en="Acronym - organization">acronym</value>
                <a:documentation>e.g., OCLC</a:documentation>
                <value a:en="alternate names - place">alternate names</value>
                <a:documentation>e.g., Edmonton,Edmontona,Edmontonas,Edmontono,Edmundopolis,Edmuntun,Ehdmonton</a:documentation>
            </choice>
        </element>
    </define>

    <define name="authorizedBy-element">
        <element name="authorizedBy">
            <a:documentation>authorizedBy element captures a note indicating that one or more
                projects use the present name as a preferred form in their local
                context.</a:documentation>
            <zeroOrMore>
                <ref name="projectId-element"/>
            </zeroOrMore>
        </element>
    </define>


</grammar>
